.pagination4-container {
  background-color: #171010;
  color: aliceblue;
  font-size: 15px;

  .btn {
    background-color: #171010;
    background: transparent;
    border-color: #171010;
    border-style: solid;
    color: grey;
  }
}
