

.dataset-page-container {
  background-color: #171010;
  margin: 0px;
  color: grey;
  font-family: "Arial Narrow", Arial, sans-serif;
    display: grid;
    grid-template-rows: min-content auto ;
    .page-header {
        .header-kpi-container {
            display: flex;

            app-kpi1, app-kpi2 {
              width: 24%;
            }


        }
    }

}
