.dataset-table-container {

    display: grid;
    grid-template-rows: min-content auto;
    .table-control-panel {
      background-color: #171010;
        display: flex;
        justify-content: space-between;
        .action-container {
            display: flex;
        }
    }
    .table-content {
        display: grid;
        grid-template-rows: min-content auto;
        .row {
            display: grid;
            grid-template-columns: 30% 10% 8% 8% 8% 8% 10% 10% 8%;
        }
    }
}
